apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: demo

resources:
  - ../../base
  - namespace.yaml

patches:
  - target:
      kind: Ingress
      name: hello
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: localhost
